PORT=3000
VERIFY_TOKEN=EAAVf1Rqi6W8BP92JJ1qIV1KZB8teqvXDJK8FTj07zyYchl4YadaLZANuhqOCgbiQUKakF3mlRS03swOQ8zjCvZAFuyH2jteXv4Xvo5ZALNt6dO3VZBBZApq3ZCjnGrvGxo3PC1Rcn8xDHZCbE6nTwz6PSit5svTdzzQZCfte3GIR5p1vUQ0Dg67NFzDXRZCz84rl4sJlOz8m5ndBHT2VTqXWZABdlKWySBPdkrP5HvCaK3fSq4zeJnR7H6olrzQ2dS5Int6v7oMuWzG5BoRBrZA9C2M5VcPa
GEMINI_API_KEY=*CHAVE_GEMINI*
APP_ID=*APP_ID*
FIREBASE_SERVICE_ACCOUNT_BASE64=BAyb2LLZuDwY8hHtg0AmEJo7nQ9RlvWBJbEA_-Ft9VAfeubS11EZTaqCmuXLGyVoojNZBkLfPFHY5JbCSjM-6Co
