PORT=3000
VERIFY_TOKEN=EAAVf1Rqi6W8BP92JJ1qIV1KZB8teqvXDJK8FTj07zyYchl4YadaLZANuhqOCgbiQUKakF3mlRS03swOQ8zjCvZAFuyH2jteXv4Xvo5ZALNt6dO3VZBBZApq3ZCjnGrvGxo3PC1Rcn8xDHZCbE6nTwz6PSit5svTdzzQZCfte3GIR5p1vUQ0Dg67NFzDXRZCz84rl4sJlOz8m5ndBHT2VTqXWZABdlKWySBPdkrP5HvCaK3fSq4zeJnR7H6olrzQ2dS5Int6v7oMuWzG5BoRBrZA9C2M5VcPa
GEMINI_API_KEY=AIzaSyAdaJbWiHW7w71s9_kSdcr8GWzWKyEm_DI
APP_ID=1:886717699550:android:fc1b532320c0a18cc2394f
FIREBASE_SERVICE_ACCOUNT_BASE64=ewogICJ0eXBlIjogInNlcnZpY2VfYWNjb3VudCIsCiAgInByb2plY3RfaWQiOiAiYmRzdXBvcnRlZXNhbWMiLAogICJwcml2YXRlX2tleV9pZCI6ICI1YTFhN2EwNzAyNGZhMWNkMWUyZmQ1ZmIwOT
